version 5.193.0

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target

group Main
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core
    nuget Akka
    nuget Akka.FSharp
    nuget Akka.Cluster
    nuget Akka.Streams
    nuget Akka.Persistence
    nuget Giraffe
    nuget Http.fs
    nuget Mono.Posix.NetStandard

group Tests
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core
    nuget Akka.TestKit
